*prova*

.vscode*
src/*.o
src/*_test
src/*.txt

# src/orbit_csv/

vitis_hls.log

rk45_vivado/rk45_vivado.cache/ip/2022.1/7/8/788eb2d76646b993/design_1_runge_kutta_45_0_0_sim_netlist.vhdl
rk45_vivado/rk45_vivado.cache/ip/2022.1/7/8/788eb2d76646b993/design_1_runge_kutta_45_0_0_sim_netlist.v